<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o Mercado Pago</h2>
                    <p>Registrandote en el sitio oficial de La Odisea Joyas tenes un 10% de descuento en tu primera compra con cualquiera de estos métodos de pago</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-truck"></i>
                    <h2>Envío gratis para compras mayores a $ 20.000 </h2>
                    <p>Si tu compra supera los $ 20.000, el envío es gratis para cualquier lugar del mundo donde te encuentres</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Garantía de devolución y reembolso </h2>
                    <p>¿No te gusta? ¡Devolvelo! En La Odisea Joyas tenés la opción de devolver tu pedido siempre y cuando te mantengas dentro de los 30 días desde que inciaste tu compra </p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->