<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Editar Productos | La Odisea Joyas</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar <%= item.nameProduct %> </h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class= "marco-formulario" method="POST" enctype= 'multipart/form-data' action=<%="/products/product-edit/" + item.id %>>
				<p><label for="imagen">Imagen:</label></p>
				<p><input class="boton-archivo"  type="file" id="imagen" name="imagen"></p>

				<p><label for="producto">Nombre del Producto</label></p>
				<p><input class="casilla" type="text" id="producto" name="producto"></p>

				<p><label for="descripcion">Descripcion:</label></p>
				<p><input class="casilla" type="text" id="descripcion" name="descripcion"></p>
				
				<button class="boton" type="submit">Editar</button>
			</form>
			<h2 class="col-12"> 
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>

	<!-- /footer -->
</body>

</html>